body{
    background-color: #212121;
}
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .button {
    padding: 20px 40px; 
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px; 
    font-size: 20px; 
    transition: all 0.3s ease;
  }
  
  #grey {
    background-color: grey;
    color: white;
  }
  #white {
    background-color: white;
    color: black;
  }
  #blue {
    background-color: blue;
    color: white;
  }
  #yellow {
    background-color: yellow;
    color: black;
  }
  
  .button:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }
  